<script src="jquery.min.js"></script>    


<script src="webcam.js"></script> 
 
    <div id="my_camera" style="width:800px; height:600px;"></div>
    <div id="my_result"></div>
 

<div id="photos"></div>


    <script language="JavaScript">
var fs = require('fs');

Webcam.set({
        width:800,
        height: 600,
        dest_width: 640,
        dest_height: 480,
        image_format: 'jpeg',
        jpeg_quality: 100,
        force_flash: false,
        flip_horiz: true,
        fps: 30
    });


    var ar=[];
        Webcam.attach( '#my_camera' );
        
var timer;

        function take_snapshot() {
    ar=[];



timer=window.setInterval(function(){
if(ar.length<60){
 Webcam.snap( function(data_uri) {
                // document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
                ar.push(data_uri);
                console.log(ar.length)
                
            } );
}
else{
    console.log('done');
    window.clearInterval(timer);
}

}, 83);            
        }

function saveImges(){

ar.forEach(function(item,index)

{saveImg(item,index)});

}





var img;
// strip off the data: url prefix to get just the base64-encoded bytes
function saveImg(img,index){
    var data = img.replace(/^data:image\/\w+;base64,/, "");
var buf = new Buffer(data, 'base64');
fs.writeFile('photos/image'+index +'.png', buf);

}



    </script> 
 
    <a href="javascript:void(take_snapshot())">Take 60 Snapshot</a>

